{% include "header.html" %}

<div class="controlpanel text-center">
  <h2>Minimum Viable Model Estimator</h2>
</div>

<div class="input-group" style="margin: 0 auto; width: 680px;">

This application allows you to estimate the minimum required performance characteristics
of a binary classification model. You need to specify the expected costs and benefits of
making decisions on the basis of the model. Including the number of cases uyou expect to
apply it to in a given period of time, and the base rate of the event you are attemting
to predict.

</div>

{% include "footer.html" %}
